<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpaceNews.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DBCB731E2E9A133B00D1B8C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBCB732B2E9A133C00D1B8C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBCB73352E9A133C00D1B8C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
